body {
    background-color: black;
    color: #fff;
}
.viewdiv::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #000; /* or add it to the track */
}
.viewdiv::-webkit-scrollbar-thumb {
  background: #fff; 
  border-radius: 5px;
}
footer{
  background-color: #343a40;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
}
.progress{
  width: calc(100% - 10px);
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  overflow: initial;
}
#div_vol_slider{
  width: 50px;
  margin-top: 11px;
  float: left;
  display: none;
}
.ui-slider-range { background: #eee!important;}
.ui-slider-handle { border-color: #343a40!important; border-radius: 15px;}
.ui-widget-content { border: 1px solid #343a40!important; border-radius: 15px; background: #222!important;}
.main_buttons{
    background: none;
    border: none;
}
P.for_img {
  text-align: center;
 }
.viewdiv{
  height: calc(100vh - 95px);
  overflow-y: auto;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.active{
  background-color: black;
}
.nav-link{
  cursor: pointer;
}
#timecode_duration{
  float: right;
  margin-right: 5px;
}
#volume{
  float: left;
  margin-left: 10px;
  display: none;
}
#timecode{
  float: left;
  margin-left: 5px;
  cursor: pointer;
}
#PodcatsList, #SubsList, #Settings{
  display: none;
}
.list-group{
  color: black;
}